services:
  grafana-mcp:
    image: mcp/grafana 
    restart: always    # <--- Add this line
    env_file:
      - ../.env
    ports:
      - "8000:8000"
    environment:
      - GRAFANA_URL=http://grafana:3000
      - GRAFANA_SERVICE_ACCOUNT_TOKEN=${GRAFANA_SERVICE_ACCOUNT_TOKEN}