services:
  # Grafana
  grafana:
    image: grafana/grafana-enterprise
    container_name: grafana
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      GF_SMTP_ENABLED: "true"
      GF_SMTP_HOST: "smtp.gmail.com:587"
      GF_SMTP_USER: ${GRAFANA_SMTP_USER}
      GF_SMTP_PASSWORD: ${GRAFANA_SMTP_PASSWORD}
      GF_SMTP_FROM_ADDRESS: ${GRAFANA_SMTP_USER}
      GF_SMTP_FROM_NAME: "Grafana Alerts" 
    volumes:
      - grafana-data:/var/lib/grafana

volumes:
  grafana-data:
    external: true